/* common */
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}
h1 {    
    font-size: 4.7rem;
    font-weight: 900;
    color: white;
    padding: 2rem 0;
}
h1.ss-titre {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
}
h2 {
    font-size: 3.9rem;
    font-weight: 900;
    padding: 1rem 0;
}
h2.ss-titre,
h4 {
    font-size: 2.4rem;
    font-weight: 400;
}
h3 {
    font-size: 2.9rem;
    font-weight: 400;
}
p {
    font-size: 1.6rem;
    font-weight: 400;
}
p.big {
    font-size: 2.1rem;
    font-weight: 400;
}
.small {
    font-size: 1.3rem;
    font-weight: 400;
}
.tag {
    font-size: 1.6rem;
    font-weight: 100;
}
a.link,
a.link:hover {
    color: inherit !important;
}
a.link:hover {
    opacity: 0.5;
}
a.underlink {
    text-decoration: underline;
}
.primary-button {
    font-size: 1.7rem;
    color: white;
    background-color: #21295E;
    height: 7.2rem;
    display: flex;
    min-width: 200px;
    max-width: 700px;
    font-weight: 500;
}
.primary-button p,
.primary-button span,
.secondary-button span {
    margin: auto;
}
.primary-button img {
    height: 2rem;
    width: auto;
    margin-left: 1.5rem;
}
.primary-button:hover {
    color: #21295E;
    background-color: white;
    border: solid #21295E 1px;
}
.secondary-button {
    font-size: 2rem;
    color: white;
    background-color: #A6328A;
    padding: 1rem 2rem !important;
    display: flex !important;
}
.secondary-button img {
    height: 2rem;
    width: auto;
    margin-left: 1.5rem;
}
.secondary-button:hover {
    color: #A6328A!important;
    background-color: white;
    border: solid #A6328A 1px;
}
img.inactive,
.primary-button:hover img.active,
.secondary-button:hover img.active  {
    display: block;
}
img.active,
.primary-button:hover img.inactive,
.secondary-button:hover img.inactive  {
    display: none;
}
.img-dl {
    height: 54px;
    width: auto;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.big.flex a {
    margin-left: 0.8rem;
}
.fleche {
    position: fixed;
    right: 5%;
    bottom: 10%;
    height: 54px;
    display: none;
}
.fleche.up {
    display: block;
}
.fleche img{
    height: 54px;
}
#home .col-md-7,
#contribute .col-11,
#contribute-home .col-11,
#contribute .dl-block,
.tool-accueil .col-11,
#pratiques .col-11,
#inclusion .col-11 {
    max-width: 1200px;
}
.card {
    height: 100%;
    justify-content: space-between;
}
.card h4 {
    text-align: center;
    padding: 10px 0;
}
.dl-link {
    text-align: center;
}

/* Common tool */
@media (max-width: 768px) {
    .tool-title {
       padding-top: 170px;
    }    
}
@media (min-width: 769px) {
    .tool-title {
       padding-top: 150px;
    }
}
.tool-title {
   display: flex;
   text-align: center;
   padding-bottom: 50px;
}
.tool-title h1 {
    margin: auto;
}
.tool-accueil-title h2 {
    text-align: center;
}
.tool-accueil::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    top: 0;
}
.tool-accueil .row {
    justify-content: space-around;
}
.red-font {
    color: #d24745;
}
.blue-font {
    color: #21295e;
}

/* navbar */
.navbar {
    background: #fff !important;
}
.navbar:not(.top-nav-collapse) {
    background: #fff !important;
}
.navbar:not(.top-nav-collapse) .navbar-brand img{
    height: 60px;
}
.navbar.top-nav-collapse .navbar-brand img{
    height: 40px;
}
.nav-item {
    margin: 0 1rem
}
.navbar .container {
    max-width: 1500px;
}
.navbar li {
    font-size: 2.1rem;
    font-weight: 400;
}
@media (max-width: 991px) {
    .navbar li,
    .secondary-button {
    font-size: 1.9rem;
    }
}
@media (max-width: 768px) {
    .accueil-link {
        display: none;
    }
    .navbar-brand {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    }
    .navbar-linkcontain {
        margin: auto;
    }
    .navbar-nav {
        margin:auto;
    }
    .navbar:not(.top-nav-collapse) .navbar-brand img{
    width: 100%;
    max-width: 300px;
    }
}
@media (min-width: 600px) {
    .navbar.scrolling-navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    }
}

/* contribute */
#contribute,
#contribute-home {
    background-color: #A6328A;
    color: white;
    padding: 40px 0;
}
#contribute-home {
    margin-bottom: -10px;
}
#contribute p.big,
#contribute-home p.big {
    max-width: 1000px;
}
#contribute p.big.flex {
    flex-wrap: wrap;
}
#contribute .row,
#contribute-home .row {
    justify-content: center;
}
#contribute .col-xl-4 {
    margin-bottom: 10px;
}
#contribute .contribute-block {
    border: solid 1px;
    height: 100%;
    padding: 15px;
    justify-content: space-between;
}
.contribute-block .dl-link {
    margin: 35px auto 0;
    height: 110px;    
}

/* Footer */
.page-footer {
    background-color: white;
    padding-bottom: 20px;    
}
.page-footer,
.page-footer a {
    color: #303030 !important;
}
.page-footer img {
    max-height: 70px;
}
.page-footer a,
.page-footer li {
    font-size: 1.3rem;
    font-weight: 400;
}
.page-footer a:hover {
    text-decoration: underline;
    opacity: 0.8;
}
/*accueil home*/
.accueil {
    width: 100%;
    height: 100vh;
}
.accueil .row {
    height: 100vh;
    width: 100%;
}
.accueil-fond {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #513085;
    background: -moz-linear-gradient(left, #513085 0%, #d24745 50%, #f3bd80 100%);
    background: -webkit-linear-gradient(left, #513085 0%,#d24745 50%,#f3bd80 100%);
    background: linear-gradient(to right, #513085 0%,#d24745 50%,#f3bd80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#513085', endColorstr='#f3bd80',GradientType=1 );
    opacity: 0.8;
}
.accueil-img {
    width: 80vw;
    max-width: 1350px;
    height: auto;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.title {
    position: relative;
    margin: auto;
    width: 80%;
}
.accueil h1 {
    text-align: center;
    padding-bottom: 2%;
}
.accueil .primary-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 305px;
    padding: 2rem;
}
@media (max-width: 450px) {
    h1 {
        font-size: 3.5rem;
    }
    h1.ss-titre {
        font-size: 1.8rem;
    }
}


/* toolbox */
#toolbox {
    background-color: #21295e;
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,.16), 0px -4px 10px 0px rgba(0,0,0,.12);
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,.16), 0px -4px 10px 0px rgba(0,0,0,.12);
    -o-box-shadow: 0px -4px 5px 0px rgba(0,0,0,.16), 0px -4px 10px 0px rgba(0,0,0,.12);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,.16), 0px -4px 10px 0px rgba(0,0,0,.12);
    color: white;
    padding: 7rem 2rem;
}
@media (max-width: 768px) {
    #toolbox {
       padding-top: 11rem;
    }    
}
#toolbox .row {
    justify-content: center;
    max-width: 1600px;
    margin: auto auto 4rem;
}
#toolbox .col-lg-3 {
    max-width: 500px;
}
#toolbox .card {
    height: 100%;
    border-radius: 0;
    justify-content: center;
}
#toolbox .view {
    height: 180px;
    margin: auto;
    padding: 15px;
}
#toolbox .view img {
    height: 150px; 
}
#toolbox .card-body {
    display: flex;
}   
#toolbox h3 {
    color:#21295e;
    text-align: center;
    margin: auto;
}

/* home */
#home {
    background: #F3BD80;
    background: -moz-linear-gradient(left, #f3bd80 0%, #e89db1 100%);
    background: -webkit-linear-gradient(left, #f3bd80 0%, #e89db1 100%);
    background: linear-gradient(to right, #f3bd80 0%, #e89db1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bd80', endColorstr='#e89db1',GradientType=1 );
}
#home .col-md-7 {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#home li {
    font-size: 1.6rem;
    font-weight: 400;
}

/* enjeux */
.enjeux-title {
    background: #d24745;
    background: -moz-linear-gradient(left, #d24745 0%, #a6328a 100%);
    background: -webkit-linear-gradient(left, #d24745 0%, #a6328a 100%);
    background: linear-gradient(to right, #d24745 0%, #a6328a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24745', endColorstr='#a6328a',GradientType=1 );
}
#accueil-enjeux::after {
    background: url("../images/enjeux.svg") no-repeat fixed center;
    background-size: 60%;
}
#pratiques {
    background-color: #f2b6b6;
}
#inclusion {
    background-color: #f4d9d9;
}
#pratiques .row,
#inclusion .row {
    justify-content: center;
}
#pratiques .card,
#inclusion .card {
    border-bottom: solid #d24745 10px !important;
}
