---
layout: default
---

<!-- Main layout-->
{% include accueil.html %}

<section id="toolbox">
    <div class="container-fluid">
        <h2 class="text-center">Boîte à outils</h2>
        <h4 class="text-center mb-5">Retrouvez ici des ressources utiles pour la mise en place de votre stratégie territoriale</h4>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-11 my-4 p-0">
                <div class="view overlay hm-white-slight hm-zoom">
                    <div class="card p-5">
                        <a class="flex flex-column" href="{{ site.url }}/boite-outils/orientation.html">
                                <img class="img-fluid" src="{{ site.url }}/images/orientations.svg" alt="Orientations nationales pour l’inclusion numérique"></img>
                                <h3 class="card-title py-3">Orientations nationales pour l’inclusion numérique</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-11 my-4 p-0">
                <div class="view overlay hm-white-slight hm-zoom">
                    <div class="card p-5">
                        <a class="flex flex-column" href="{{ site.url }}/boite-outils/enjeux">
                                <img class="img-fluid" src="{{ site.url }}/images/enjeux.svg" alt="Prendre la mesure des enjeux de l'inclusion numérique"></img>
                                <h3 class="card-title py-3">Prendre la mesure des enjeux de l'inclusion numérique</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-11 my-4 p-0">
                <div class="view overlay hm-white-slight hm-zoom">
                    <div class="card p-5">
                        <a class="flex flex-column" href="{{ site.url }}/boite-outils/strategie">
                                <img class="img-fluid" src="{{ site.url }}/images/strategie.svg" alt="Comment élaborer ma stratégie locale d’inclusion numérique ?"></img>
                                <h3 class="card-title py-3">Comment élaborer ma stratégie locale d’inclusion numérique ?</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-11 my-4 p-0">
                <div class="view overlay hm-white-slight hm-zoom">
                    <div class="card p-5">
                        <a class="flex flex-column" href="{{ site.url }}/boite-outils/initiative">
                            <img class="img-fluid" src="{{ site.url }}/images/initiatives.svg" alt="Découvrir les initiatives d’inclusion numérique dans les territoires"></img>
                            <h3 class="card-title py-3">Découvrir les initiatives d’inclusion   numérique dans les territoires</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-10 mx-auto my-5 p-5 max1200">
                <h3 class="text-center py-4 px-5">Pourquoi une plateforme de ressources pour l'inclusion numérique ?</h3>
                <p class="px-5">13 millions de Français sont actuellement en difficulté avec les usages du numérique. Face à ce constat, le Secrétaire d’Etat chargé du Numérique, Mounir Mahjoubi, a lancé une Stratégie nationale pour un numérique inclusif en décembre 2017 à Bordeaux. L’objectif est d’accompagner celles et ceux qui sont en difficulté face au développement toujours plus rapide des technologies et usages numériques.</p>
                <p class="px-5">Cette plateforme est ainsi issue de l’ensemble des travaux menés durant la Stratégie Nationale pour un Numérique Inclusif et rassemble diverses ressources afin de permettre de développer des stratégies locales d’inclusion numérique. Elle vise à faire prendre conscience de l'importance du sujet de l'inclusion numérique et à outiller les collectivités locales.</p>
                <p class="px-5">Elle comporte quatre volets :</p>
                <ul class="px-5">
                    <li>Des éléments d’orientation à l’échelle nationale ;</li>
                    <li>Des éléments de contexte sur les usages numériques des Français ;</li>
                    <li>Des fiches détaillant chaque étape de la mise en place d’une stratégie locale d’inclusion numérique ;</li>
                    <li>Des fiches bonnes pratiques illustrant ce qui est fait dans les autres territoires.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="contribute-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 max1200">
                <div class="row">
                    <div class="col-12">
                        <h2>Ce site est contributif</h2>
                    </div>
                    <div class="col-xl-8 col-12">
                        <p>
                            Vous souhaitez partager votre étude, initiative ou stratégie d’inclusion numérique ?<br/>
                            Ce site est un espace de partage d'outils et de bonnes pratiques entre collectivités locales, services déconcentrés de l’Etat, acteurs de la médiation numérique et de l’intervention sociale, opérateurs de services publics, acteurs associatifs (de la solidarité, de l’éducation populaire, de proximité, etc), médiathèques, bibliothèques....<br/>
                            Si vous avez des méthodes, des outils, des ressources, des retours sur expérience au sein de votre structure que vous pouvez partager, c’est ici que vous pouvez le faire.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include fleche_white.html %}
