<section id="contribute">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 max1200">
                <h2>Comment contribuer ?</h2>
                <div class="row dl-block">
                    <div class="col-xl-4 col-12">
                        <div class="contribute-block flex flex-column">
                            <p>Vous êtes une collectivité territoriale et vous avez entamé une démarche pour mettre en place une stratégie locale d’inclusion numérique, vous pouvez partager votre expérience en remplissant ce formulaire.
                            <br/>Le formulaire est à renvoyer à <a class="link underlink mailto" href="mailto:societenumerique@finances.gouv.fr">societenumerique@finances.gouv.fr</a> </p>
                            <a class="link dl-link underlink flex flex-column" href="https://drive.societenumerique.gouv.fr/index.php/s/vmCURNKlllX7ffk/download">  
                                <img class="img-dl" src="{{ site.url }}/images/download-white.svg"></img>
                                <span class="small">Formulaire documentation Collectivités -bonnes pratiques.docx (13 KB)</span>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="contribute-block flex flex-column">
                            <p>Vous êtes une structure qui a mis en place une initiative ou un dispositif d’inclusion numérique, vous pouvez partager votre expérience en remplissant ce formulaire.</p>
                                <img class="img-dl" src="{{ site.url }}/images/download-white.svg"></img>
                            <a class="link dl-link underlink flex flex-column" href="https://drive.societenumerique.gouv.fr/index.php/s/jJeDFgUGL4r8jCP/download">
                                <span class="small">Formulaire documentation initiatives.docx (18 KB) </span>
                            </a>
                        </div>                
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="contribute-block flex flex-column">
                            <p>Vous souhaitez partager tout autre outil (outil de diagnostic de compétences numériques), ressource (étude des pratiques numériques sur votre territoire…) ou nous faire part d’une suggestion, vous pouvez nous écrire à <a class="link underlink mailto" href="mailto:societenumerique@finances.gouv.fr">societenumerique@finances.gouv.fr</a> </p>
                             
                        </div>               
                    </div>
                </div>
                <p>Le formulaire est à renvoyer à  <a class="link underlink mailto" href="mailto:societenumerique@finances.gouv.fr">societenumerique@finances.gouv.fr</a> </p>
            </div>
        </div>
    </div>
</section>
