<section id="contribute">
    <div class="col-md-10 offset-md-2">
        <h2>Comment contribuer ?</h2>
        <div class="row">
            <div class="col-3">
                <p class="big">Vous êtes une collectivité territoriale et vous avez entamé une démarche pour mettre en place une stratégie locale d’inclusion numérique, vous pouvez partager votre expérience en remplissant ce formulaire.  Le formulaire est à renvoyer à societenumerique@finances.gouv.fr</p>
            </div>
            <div class="col-3">
                <p class="big">Vous êtes une structure qui a mis en place une initiative ou un dispositif d’inclusion numérique, vous pouvez partager votre expérience en remplissant ce formulaire.</p>
            </div>
            <div class="col-3">
                <p class="big">Vous souhaitez partager tout autre outil (outil de diagnostic de compétences numériques), ressource (étude des pratiques numériques sur votre territoire…) ou nous faire part d’une suggestion, vous pouvez nous écrire à societenumerique@finances.gouv.fr</p>
            </div>
        </div>
    </div>
</section>
