<section id="strategies-locales" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 max1200">
                <div class="row">
                    <div class="col-12">
                        <div class="tag"><span class="purple800-font mr-5">[Initiatives]</span><span class="purple800-font">[Ressources]</span></div>
                    </div>
                    <div class="col-12">
                        <p class="big my-2"><strong>Exemples de stratégies locales d'inclusion numérique des collectivités</strong></p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <div class="card p-3 purple-card">
                            <div class="card-info">
                                <img class="icone-card p-2 logo-struct" src="{{ site.url }}/images/CD64PlusProchePlusSolidaireV2.svg"></img>
                                <h4>Stratégie départementale d'inclusion numérique des Pyrénées -Atlantiques</h4>
                                <p></p>
                            </div>                            
                            <div class="card-link white-font">
                                <a class="link dl-link underlink flex flex-column" href="https://drive.societenumerique.gouv.fr/index.php/s/8QtxCOudepWImo9"><img class="img-dl" src="{{ site.url }}/images/download-white.svg"></img>
                                <span class="small">Stratégie départementale d'inclusion numérique des Pyrénées-Atlantiques (844ko)</span>
                                </a>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <div class="card p-3 purple-card">
                            <div class="card-info">
                                <img class="icone-card p-2 logo-struct" src=""></img>
                                <h4>Titre de la ressource</h4>
                                <p></p>
                            </div>                            
                            <div class="card-link white-font">
                                <a class="link dl-link underlink flex flex-column" href=""><img class="img-dl" src="{{ site.url }}/images/download-white.svg"></img>
                                <span class="small">En construction</span>
                                </a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
